nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 60px;

  background-color: #f8f1e5;
}

ul {
  display: flex;
  gap: 35px;

  list-style: none;
}

h2 {
  color: #8b4513;
}

button {
  padding: 8px 16px;

  background-color: white;

  border: 1px solid #854111;

  cursor: pointer;
}